/*MISC*/
/* Colors */
/* Font-family */
/* Font-sizes */
.cuerpo__img:hover {
  transition: all .5s ease-in-out;
  cursor: pointer;
  filter: saturate(150%); }

.menu__item--active {
  color: var(#f8afc9); }

.menu__item :hover {
  text-decoration: underline 0.3em var(#f8afc9);
  color: var(#0d0106); }

.efectos__img:hover .galeria__img {
  cursor: pointer;
  transition: all .5s ease-in-out;
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

.button:hover {
  background-color: var(#4c4c47);
  transition-duration: .4s; }

.productos__boton:hover {
  background-color: var(#4c4c47);
  transition-duration: .4s; }

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.button {
  background-color: var(#0d0106);
  font-size: var(1.2em);
  color: var(#fdfff7);
  border-radius: .5em;
  padding: .5rem 1.5rem;
  margin: .3rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer; }

.barra-texto {
  background-color: var(#fdfff7);
  font-family: var("Open Sans", sans-serif);
  border-radius: .5em; }

h1 {
  font-family: var("Nunito", sans-serif);
  font-weight: bold;
  padding-bottom: 2rem;
  margin: .5rem;
  font-size: 30px; }

.background {
  background-color: var(#fbf4e0);
  padding: 1rem; }

a {
  text-decoration: none;
  color: var(#0d0106); }

@media screen and (min-width: 320px) and (max-width: 768px) {
  /* INDEX */
  /* HEADER */
  .logo__image {
    width: 15em; }
  .menu {
    display: flex;
    flex-direction: column; }
    .menu__item {
      padding: 1rem;
      font-size: var(1.2em); }
  /* INDEX MAIN */
  .cuerpo {
    display: flex;
    flex-direction: column; }
    .cuerpo__texto {
      font-size: var(1.2em);
      padding: 1rem;
      font-weight: bold; }
    .cuerpo__img {
      width: 30em;
      height: auto;
      border-radius: .5em;
      margin: .5em; }
    .cuerpo .h1 {
      font-size: var(1.5em); }
  /* FOOTER */
  .pie {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .5rem; }
    .pie__formulario {
      font-size: var(1.1em); }
    .pie__texto {
      font-size: var(1.1em); }
    .pie__img-insta {
      width: 2em;
      height: 2em;
      margin: .5rem; }
    .pie__img-mail {
      width: 2.8em;
      height: 2.8em;
      margin: .5rem; }
  /* CONTACTO */
  /*MAIN*/
  .contacto {
    display: flex;
    flex-direction: column; }
    .contacto__informacion {
      font-size: var(1.2em);
      font-weight: bold;
      padding: 1rem; }
    .contacto__form {
      border-radius: .5em;
      padding: 1rem;
      margin: 1rem; }
  /*SECTION*/
  .img__contacto {
    image-resolution: auto;
    width: 100%;
    height: 7em; }
  /* GALERIA */
  .main-galeria {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .main-galeria .galeria {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 10em; }
      .main-galeria .galeria__titulo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: .5rem;
        padding: .5rem;
        font-size: var(1.5em); }
      .main-galeria .galeria__presentacion {
        padding-left: 1rem;
        padding-right: 1rem; }
      .main-galeria .galeria__h2 {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        border-radius: .5em;
        font-size: var(1.2em);
        padding: .5rem;
        margin: .5rem;
        text-align: center; }
      .main-galeria .galeria__fotos {
        display: flex;
        flex-direction: column;
        justify-content: center; }
      .main-galeria .galeria__img {
        display: flex;
        justify-content: center;
        width: auto;
        height: 17em;
        border-radius: .5em;
        margin: 3rem; }
      .main-galeria .galeria__fila-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem; }
      .main-galeria .galeria__fila-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        border-radius: .5em;
        margin: 1rem; }
    .main-galeria .h2 {
      font-size: var(1.1em); }
  /* PRODUCTOS */
  .productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .productos__titulo {
      display: flex;
      font-size: var(1.5em);
      padding: 1rem; }
    .productos__img {
      height: 20em;
      width: auto;
      border-radius: .5em;
      margin: .5rem; }
    .productos__boton {
      border-radius: .5em;
      padding-left: .5rem;
      padding-right: .5rem;
      font-size: var(1.5em);
      margin: 1rem; }
    .productos__texto {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: var(1.2em);
      border-radius: .5em;
      padding: .1rem; }
    .productos .flex__box {
      display: flex;
      flex-direction: column;
      align-items: stretch; }
      .productos .flex__box__box {
        display: flex;
        flex-direction: column;
        padding: .5rem;
        margin: .5rem;
        border-radius: .5em; }
  /* SOBREMI */
  .sobremi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem; }
    .sobremi__texto {
      font-size: var(1.2em);
      font-weight: bold;
      padding: .5rem;
      margin: .5rem; }
    .sobremi__img {
      align-content: center;
      justify-content: center;
      width: 30em;
      height: auto;
      border-radius: .5em;
      margin-top: 1rem; }
    .sobremi__img-presentacion {
      width: 5em;
      height: auto;
      border-radius: 10em; } }

@media screen and (min-width: 769px) and (max-width: 969px) {
  /* INDEX */
  /* HEADER */
  .logo__image {
    width: 15em; }
  .menu {
    display: flex;
    flex-direction: column; }
    .menu__item {
      padding: 1rem;
      font-size: var(1.2em); }
  /* INDEX MAIN */
  .cuerpo {
    display: flex; }
    .cuerpo__texto {
      font-size: var(1.2em);
      padding: 1rem;
      font-weight: bold; }
    .cuerpo__img {
      width: 40em;
      height: auto;
      border-radius: .5em;
      margin: .5rem; }
    .cuerpo .h1 {
      font-size: var(1.5em); }
  /* FOOTER */
  .pie {
    display: flex;
    align-items: center;
    gap: .5rem; }
    .pie__formulario {
      font-size: var(1.1em); }
    .pie__texto {
      font-size: var(1.1em); }
    .pie__img-insta {
      width: 2em;
      height: 2em;
      margin: .5rem; }
    .pie__img-mail {
      width: 2.8em;
      height: 2.8em;
      margin: .5rem; }
  /* CONTACTO */
  .contacto {
    display: flex; }
    .contacto__informacion {
      font-size: var(1.2em);
      font-weight: bold;
      padding-top: 7rem;
      padding-bottom: 7rem; }
    .contacto__form {
      border-radius: .5em;
      padding: 1.5rem;
      margin: 1rem; }
  /*SECTION*/
  .img__contacto {
    image-resolution: auto;
    width: 100%;
    height: 15em; }
  /* GALERIA */
  .main-galeria {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .main-galeria .galeria {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 10em; }
      .main-galeria .galeria__titulo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: .5rem;
        padding: .5rem;
        font-size: var(1.5em); }
      .main-galeria .galeria__presentacion {
        padding-left: 1rem;
        padding-right: 1rem; }
      .main-galeria .galeria__h2 {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        border-radius: .5em;
        font-size: var(1.2em);
        padding: .5rem;
        margin: .5rem;
        text-align: center; }
      .main-galeria .galeria__fotos {
        display: flex;
        flex-direction: column;
        justify-content: center; }
      .main-galeria .galeria__img {
        display: flex;
        justify-content: center;
        width: auto;
        height: 30em;
        border-radius: .5em;
        margin: 3rem; }
      .main-galeria .galeria__fila-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 15rem;
        margin-right: 15rem; }
      .main-galeria .galeria__fila-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-left: 15rem;
        margin-right: 15rem; }
    .main-galeria .h2 {
      font-size: var(1.1em); }
  /* PRODUCTOS */
  .productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .productos__titulo {
      display: flex;
      font-size: var(1.5em);
      padding: 1rem; }
    .productos__img {
      height: 40em;
      width: auto;
      border-radius: .5em;
      margin: .5rem; }
    .productos__boton {
      border-radius: .5em;
      padding-left: .5rem;
      padding-right: .5rem;
      font-size: 1.5em;
      margin: 1rem; }
    .productos__texto {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: var(1.5em);
      border-radius: .5em;
      padding: .1rem; }
    .productos .flex__box {
      display: flex;
      flex-direction: column;
      align-items: stretch; }
      .productos .flex__box__box {
        display: flex;
        flex-direction: column;
        padding: 5rem;
        margin: .5rem;
        border-radius: .5em; }
  /* SOBREMI */
  .sobremi {
    display: flex;
    align-items: center;
    padding: .5rem; }
    .sobremi__texto {
      font-size: var(1.2em);
      font-weight: bold;
      padding: .5rem;
      margin: .5rem; }
    .sobremi__img {
      align-content: center;
      justify-content: center;
      width: 30em;
      height: auto;
      border-radius: .5em; }
    .sobremi__img-presentacion {
      width: 5em;
      height: auto;
      border-radius: 10em; } }

/*PARTIALS*/
.pie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: var(#8f2d56); }
  .pie__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: .5rem; }
  .pie__texto {
    color: var(#0d0106);
    font-family: var("Open Sans", sans-serif);
    font-size: var(1.2em);
    font-style: normal;
    font-weight: bold; }
  .pie__logos {
    display: flex;
    justify-content: center;
    align-items: center; }
  .pie__img-insta {
    width: 3em;
    height: 3em;
    margin: .5rem; }
  .pie__img-mail {
    width: 3.8em;
    height: 3.8em;
    margin: .5rem; }
  .pie__mail {
    display: flex;
    align-items: center; }
  .pie__formulario {
    color: var(#0d0106);
    font-family: var("Open Sans", sans-serif);
    font-size: var(1.2em);
    font-style: normal;
    font-weight: bold; }

.logo {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(#fbf4e0); }
  .logo__image {
    width: 25em;
    cursor: pointer; }

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0rem;
  padding: 0rem;
  width: 100%; }
  .menu__item {
    padding: .3rem;
    font-family: var("Nunito", sans-serif);
    font-size: var(1.5em);
    list-style-type: none;
    font-weight: bold; }

/*PAGES*/
.contacto {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(#fbf4e0); }
  .contacto__informacion {
    text-align: center;
    font-weight: normal;
    font-size: var(2.4em);
    font-family: var("Open Sans", sans-serif);
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2rem; }
  .contacto__texto {
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem; }
  .contacto__form {
    color: var(#fdfff7);
    background-color: var(#8f2d56);
    font-family: var("Open Sans", sans-serif);
    font-size: var(1.1em);
    border-radius: .5em;
    padding-left: 1rem;
    padding-right: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 5rem; }
  .contacto__botones {
    display: flex;
    font-weight: bold;
    font-family: var("Open Sans", sans-serif); }
  .contacto__contacto {
    height: 25em;
    width: 100%; }

.grid__area-contacto {
  display: grid;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas: "header header header" "main main main" "section section section" "footer footer footer"; }
  .grid__area-contacto header-contacto {
    grid-area: header;
    grid-column: 1/4;
    grid-row: 1; }
  .grid__area-contacto main-contacto {
    grid-area: main;
    grid-column: 1/4;
    grid-row: 2; }
  .grid__area-contacto section-contacto {
    grid-area: section;
    grid-column: 1/4;
    grid-row: 3; }
  .grid__area-contacto footer-contacto {
    grid-area: footer;
    grid-column: 1/4;
    grid-row: 4; }

.galeria {
  background-color: var(#fbf4e0);
  width: 100%;
  height: 15em; }
  .galeria__titulo {
    display: flex;
    align-items: flex-start;
    padding: 1rem; }
  .galeria__presentacion {
    padding-left: 30rem;
    padding-right: 30rem; }
  .galeria__h2 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    background-color: var(#8f2d56);
    font-family: var("Open Sans", sans-serif);
    font-size: var(1.5em);
    color: var(#fdfff7);
    border-radius: .5em;
    margin: 1rem;
    padding: 1rem; }
  .galeria__fotos {
    background-color: var(#fbf4e0);
    padding-bottom: 1rem; }
  .galeria__img {
    width: auto;
    height: 20em;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: .5em; }
  .galeria__fila-1 {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: var(#fdfff7);
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    border-radius: .5em; }
  .galeria__fila-2 {
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: var(#fdfff7);
    margin-left: 3rem;
    margin-right: 3rem;
    border-radius: .5em; }

.grid__area-galeria {
  display: grid;
  grid-template-columns: 25% 20% 25% 30%;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "header header header header" "main main main main" "section section section" "footer footer footer footer"; }
  .grid__area-galeria header-galeria {
    grid-area: header;
    grid-column: 1/5;
    grid-row: 1; }
  .grid__area-galeria main-galeria {
    grid-area: header;
    grid-column: 1/5;
    grid-row: 2; }
  .grid__area-galeria section-galeria {
    grid-area: header;
    grid-column: 1/5;
    grid-row: 3; }
  .grid__area-galeria footer-galeria {
    grid-area: header;
    grid-column: 1/5;
    grid-row: 4; }

.cuerpo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(#fbf4e0); }
  .cuerpo__texto {
    text-align: center;
    font-weight: normal;
    font-size: var(2.4em);
    font-family: var("Open Sans", sans-serif);
    padding-left: 5rem;
    padding-right: 5rem; }
  .cuerpo__img {
    width: 55em;
    height: auto; }

.grid__area-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header" "main main" "footer footer"; }
  .grid__area-index header-index {
    grid-area: header;
    grid-column: 1 / 3;
    grid-row: 1; }
  .grid__area-index main-index {
    grid-area: main;
    grid-column: 1 / 3;
    grid-row: 2; }
  .grid__area-index footer-index {
    grid-area: footer;
    grid-column: 1 / 3;
    grid-row: 3; }

.productos {
  background-color: var(#fbf4e0); }
  .productos__titulo {
    display: flex;
    justify-content: center;
    align-items: center; }
  .productos__img {
    width: auto;
    height: 18em;
    border-radius: .5em;
    margin: .5rem; }
  .productos__boton {
    background-color: var(#0d0106);
    color: var(#fdfff7);
    font-size: var(1.2em);
    font-family: var("Open Sans", sans-serif);
    border-radius: .5em;
    padding-left: .5rem;
    padding-right: .5rem;
    margin: 1rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold; }
  .productos__texto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(#8f2d56);
    color: var(#fdfff7);
    font-family: var("Open Sans", sans-serif);
    font-size: var(1.5em);
    font-weight: bold;
    border-radius: .5em;
    padding: 1rem; }
  .productos .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .productos .flex-box .box {
      display: flex;
      border-style: solid;
      align-content: center;
      align-items: center;
      border-color: var(#f8afc9);
      background-color: var(#fdfff7);
      margin: .5rem;
      border-radius: .5em; }

.grid__area-productos {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas: "header header header" "main main main" "section section section" "footer footer footer"; }
  .grid__area-productos .header-productos {
    grid-area: header;
    grid-column: 1/4;
    grid-row: 1; }
  .grid__area-productos .main-productos {
    grid-area: main;
    grid-column: 1/4;
    grid-row: 2; }
  .grid__area-productos .section-productos {
    grid-area: section;
    grid-column: 1/4;
    grid-row: 3; }
  .grid__area-productos .footer-productos {
    grid-area: footer;
    grid-column: 1/4;
    grid-row: 4; }

.sobremi {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(#fbf4e0); }
  .sobremi__texto {
    text-align: center;
    font-weight: normal;
    font-size: var(2.4em);
    font-family: var("Open Sans", sans-serif);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1.5rem; }
  .sobremi__picture {
    display: flex;
    justify-content: center;
    align-items: center; }
  .sobremi__img {
    width: 50em;
    height: auto; }
  .sobremi__img-presentacion {
    width: 5em;
    height: 5em;
    border-radius: 10em; }

.grid__area-sobremi {
  display: grid;
  grid-template-columns: 47vw 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header" "main main" "footer footer"; }
  .grid__area-sobremi .header-sobremi {
    grid-area: header;
    grid-column: 1 / 3;
    grid-row: 1; }
  .grid__area-sobremi .main-sobremi {
    grid-area: main;
    grid-column: 1 / 3;
    grid-row: 2; }
  .grid__area-sobremi .footer-sobremi {
    grid-area: footer;
    grid-column: 1 / 3;
    grid-row: 3; }
