.pie {
    @include flex(row, space-between, center, 0%);
    padding: 1.5rem;
    background-color: $primary;

    &__info {
        flex-direction: column;
        align-items: flex-start;
        margin: .5rem;
    }

    &__texto {
        color: $text-color;
        font-family: map-get($fonts, font-principal);
        font-size: $text-base;
        &--bolder {
            @extend .pie__texto;
            font-weight: bolder;
        }
    }

    &__logos {
        justify-content: center;
        align-items: center;
    }

    &__img-insta {
        width: 3em;
        height: 3em;
        margin: .5rem;
    }

    &__img-mail {
        width: 3.8em;
        height: 3.8em;
        margin: .5rem;
    }

    &__mail {
        align-items: center;
    }

    &__formulario {
        color: $text-color;
        font-family: map-get($fonts, font-principal);
        font-size: $text-base;
        font-style: normal;
        font-weight: bold;
    }
}

@media screen and (min-width:320px) and (max-width:768px) {

    /* FOOTER */
    .pie {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: .5rem;

        &__formulario {
            font-size: $text-small;
        }

        .pie__info {
            &__texto {
                font-size: $text-small;
            }
        }

        &__img-insta {
            width: 2em;
            height: 2em;
            margin: .5rem;
        }

        &__img-mail {
            width: 2.5em;
            height: 2.5em;
            margin: .5rem;
        }
    }
}

@media screen and (min-width:769px) and (max-width:969px) {

    /* FOOTER */
    .pie {
        display: flex;
        align-items: center;
        gap: .5rem;

        &__formulario {
            font-size: $text-small;
        }

        &__texto {
            font-size: $text-small;
        }

        &__img-insta {
            width: 2em;
            height: 2em;
            margin: .5rem;
        }

        &__img-mail {
            width: 2.5em;
            height: 2.5em;
            margin: .5rem;
        }
    }
}