.logo {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: $base;

    &__image {
        width: 25em;
        cursor: pointer;
    }
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0rem;
    padding: 0rem;
    width: 100%;

    &__item {
        padding: .3rem;
        font-family: $font-secondary;
        font-size: $text-medium;
        list-style-type: none;
        font-weight: bold;
    }
}

@media screen and (min-width:320px) and (max-width:768px) {

    /* INDEX */
    /* HEADER */
    .logo__image {
        width: 15em;
    }

    .menu {
        display: flex;
        flex-direction: column;

        &__item {
            padding: 1.2rem;
            font-size: $text-base;
        }
    }
}

@media screen and (min-width:769px) and (max-width:969px) {

    /* INDEX */
    /* HEADER */
    .logo__image {
        width: 15em;
    }

    .menu {
        display: flex;
        flex-direction: column;

        &__item {
            padding: 1rem;
            font-size: $text-base;
        }
    }
}