.galeria {
    background-color: $base;
    width: 100%;
    height: 15em;

    &__titulo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__presentacion {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    &__h2 {
        display: flex;
        justify-content: center;
        align-content: center;
        font-weight: bold;
        background-color: $primary;
        font-family: map-get($fonts, font-principal);
        font-size: $text-medium;
        color: $secondary;
        border-radius: .5em;
        padding: 1rem;
    }

    &__fotos {
        background-color: $base;
        padding-bottom: 1rem;
    }

    &__img {
        width: auto;
        height: 20em;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-radius: .5em;
    }

    &__fila-1 {
        display: flex;
        justify-content: space-around;
        align-content: center;
        background-color: $secondary;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-bottom: 1rem;
        border-radius: .5em;
    }

    &__fila-2 {
        display: flex;
        justify-content: space-around;
        align-content: center;
        background-color: $secondary;
        margin-left: 3rem;
        margin-right: 3rem;
        border-radius: .5em;
    }
}

@media screen and (min-width:320px) and (max-width:768px) {

    /* GALERIA */
    .main-galeria {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .galeria {
            flex-direction: column;
            align-items: center;
            height: 10em;

            &__titulo {
                align-items: center;
                justify-content: center;
                margin: .3rem;
                padding: .3rem;
                font-size: $text-medium;
            }

            &__presentacion {
                margin-left: 1rem;
                margin-right: 1rem;
            }

            &__h2 {
                flex-direction: column;
                align-items: stretch;
                border-radius: .5em;
                font-size: $text-base;
                padding: .5rem;
                text-align: center;
            }

            .h2 {
                font-size: $text-small;
            }
        }
    }

    .galeria__fotos {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .galeria__img {
            justify-content: center;
            width: auto;
            height: 25em;
            border-radius: .5em;
            margin: 3rem;
        }

        .galeria__fila-1 {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 1rem;
        }

        .galeria__fila-2 {
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            border-radius: .5em;
            margin: 1rem;
        }
    }
}

@media screen and (min-width:769px) and (max-width:969px) {

    /* GALERIA */
    .main-galeria {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .galeria {
            flex-direction: column;
            align-items: center;
            height: 10em;

            &__titulo {
                align-items: center;
                justify-content: center;
                margin: .5rem;
                padding: .5rem;
                font-size: $text-medium;
            }

            &__presentacion {
                margin-left: 15rem;
                margin-right: 15rem;
            }

            &__h2 {
                flex-direction: column;
                align-items: stretch;
                border-radius: .5em;
                font-size: $text-base;
                padding: .5rem;
                text-align: center;
            }

            .h2 {
                font-size: $text-small;
            }
        }
    }

    .galeria__fotos {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .galeria__img {
            justify-content: center;
            width: auto;
            height: 30em;
            border-radius: .5em;
            margin: 3rem;
        }

        .galeria__fila-1 {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 15rem;
            margin-right: 15rem;
        }

        .galeria__fila-2 {
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin-left: 15rem;
            margin-right: 15rem;
        }
    }
}

.grid__area-galeria {
    display: grid;
    grid-template-columns: 25% 20% 25% 30%;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "section section section"
        "footer footer footer footer";
}

.header-galeria {
    grid-area: header;
    grid-column: 1/5;
    grid-row: 1;
}

.main-galeria {
    grid-area: header;
    grid-column: 1/5;
    grid-row: 2;
}

.section-galeria {
    grid-area: header;
    grid-column: 1/5;
    grid-row: 3;
}

.footer-galeria {
    grid-area: header;
    grid-column: 1/5;
    grid-row: 4;
}