.main-productos {
    background-color: $base;

    .productos__titulo {
        @include flex(row, center, center, 0%);
    }

    .flex__box {
        @include flex(row, space-between, center, 0%);
        
        .box {
            display: flex;
            border-style: solid;
            align-content: center;
            align-items: center;
            border-color: $alternative;
            background-color: $secondary;
            margin: .5rem;
            border-radius: .5em;

            .productos__img {
                width: auto;
                height: 18em;
                border-radius: .5em;
                margin: .5rem;
            }
        
            .productos__boton {
                background-color: $boton-primary;
                color: $secondary;
                font-size: $text-base;
                font-family: map-get($fonts, font-principal);
                border-radius: .5em;
                padding-left: .5rem;
                padding-right: .5rem;
                margin: 1rem;
                text-decoration: none;
                cursor: pointer;
                font-weight: bold;
                border: 2px solid transparent;
            }
        }
    }
}

.productos__texto {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    color: $secondary;
    font-family: map-get($fonts, font-principal);
    font-size: $text-medium;
    font-weight: bold;
    border-radius: .5em;
    padding: 1rem;
}

@media screen and (min-width:320px) and (max-width:768px) {

    /* PRODUCTOS */
    .main-productos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .productos__titulo {
            display: flex;
            font-size: $text-medium;
            padding: 1rem;
        }

        .flex__box {
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }

        .box {
            display: flex;
            flex-direction: column;
            padding: .5rem;
            margin: .5rem;
            border-radius: .5em;
        }

        .productos__img {
            height: 20em;
            width: auto;
            border-radius: .5em;
            margin: .5rem;
        }

        .productos__boton {
            border-radius: .5em;
            padding-left: .5rem;
            padding-right: .5rem;
            font-size: $text-medium;
            margin: 1rem;
        }

        .productos__texto {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: $text-base;
            border-radius: .5em;
            padding: .1rem;
        }
    }
}


@media screen and (min-width:769px) and (max-width:969px) {

    /* PRODUCTOS */
    .main-productos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .productos__titulo {
            display: flex;
            font-size: $text-medium;
            padding: 1rem;
        }

        .flex__box {
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }

        .box {
            display: flex;
            flex-direction: column;
            padding: 5rem;
            margin: .5rem;
            border-radius: .5em;
        }

        .productos__img {
            height: 40em;
            width: auto;
            border-radius: .5em;
            margin: .5rem;
        }

        .productos__boton {
            border-radius: .5em;
            padding-left: .5rem;
            padding-right: .5rem;
            font-size: 1.5em;
            margin: 1rem;
        }

        .productos__texto {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: $text-medium;
            border-radius: .5em;
            padding: .1rem;
        }
    }
}


.grid__area-productos {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
        "header header header"
        "main main main"
        "section section section"
        "footer footer footer";
}

.header-productos {
    grid-area: header;
    grid-column: 1/4;
    grid-row: 1;
}

.main-productos {
    grid-area: main;
    grid-column: 1/4;
    grid-row: 2;
}

.section-productos {
    grid-area: section;
    grid-column: 1/4;
    grid-row: 3;
}

.footer-productos {
    grid-area: footer;
    grid-column: 1/4;
    grid-row: 4;
}