.contacto {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: $base;

    &__informacion {
        text-align: center;
        font-weight: normal;
        font-size: $text-large;
        font-family: $font-principal;
        padding-left: 10rem;
        padding-right: 10rem;
        padding-top: 2rem;
    }

    &__texto {
        text-align: center;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    &__form {
        color: $secondary;
        background-color: $primary;
        font-family: $font-principal;
        font-size: $text-small;
        border-radius: .5em;
        padding-left: 1rem;
        padding-right: 10rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-right: 5rem;
    }

    &__botones {
        display: flex;
        font-weight: bold;
        font-family: $font-principal;
    }
}

.img__contacto {
    height: 30em;
    width: 100%;
}

@media screen and (min-width:320px) and (max-width:768px) {

    /* CONTACTO */
    /*MAIN*/
    .contacto {
        display: flex;
        flex-direction: column;

        &__informacion {
            font-size: $text-base;
            font-weight: bold;
            padding: 1rem;
        }

        &__form {
            border-radius: .5em;
            padding: 1rem;
            margin: 1rem;
        }
    }

    /*SECTION*/
    .img__contacto {
        image-resolution: auto;
        width: 100%;
        height: 7em;
    }
}

@media screen and (min-width:400px) and (max-width:798px) {


    .contacto__form {
        border-radius: .5em;
        padding: 1.5rem;
        max-width: 300px;

    }
}

@media screen and (min-width:769px) and (max-width:969px) {

    /* CONTACTO */
    .contacto {
        display: flex;

        &__informacion {
            font-size: $text-base;
            font-weight: bold;
            padding-top: 7rem;
            padding-bottom: 7rem;
        }

        &__form {
            border-radius: .5em;
            padding: 1.5rem;
            margin: 2rem;
        }
    }

    /*SECTION*/
    .img__contacto {
        image-resolution: auto;
        width: 100%;
        height: 15em;
    }
}


.grid__area-contacto {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas:
        "header header header"
        "main main main"
        "section section section"
        "footer footer footer";
}

.header-contacto {
    grid-area: header;
    grid-column: 1/4;
    grid-row: 1;
}

.main-contacto {
    grid-area: main;
    grid-column: 1/4;
    grid-row: 2;
}

.section-contacto {
    grid-area: section;
    grid-column: 1/4;
    grid-row: 3;
}

.footer-contacto {
    grid-area: footer;
    grid-column: 1/4;
    grid-row: 4;
}