@media screen and (min-width:320px) and (max-width:768px) {

    /* INDEX */
    /* HEADER */
    .logo__image {
        width: 15em;
    }

    .menu {
        display: flex;
        flex-direction: column;

        &__item {
            padding: 1rem;
            font-size: var($text-base);
        }
    }

    /* INDEX MAIN */
    .cuerpo {
        display: flex;
        flex-direction: column;

        &__texto {
            font-size: var($text-base);
            padding: 1rem;
            font-weight: bold;
        }

        &__img {
            width: 30em;
            height: auto;
            border-radius: .5em;
            margin: .5em
        }

        .h1 {
            font-size: var($text-medium);
        }

    }

    /* FOOTER */
    .pie {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: .5rem;

        &__formulario {
            font-size: var($text-small);
        }

        &__texto {
            font-size: var($text-small);
        }

        &__img-insta {
            width: 2em;
            height: 2em;
            margin: .5rem;
        }

        &__img-mail {
            width: 2.8em;
            height: 2.8em;
            margin: .5rem;
        }
    }

    /* CONTACTO */
    /*MAIN*/
    .contacto {
        display: flex;
        flex-direction: column;

        &__informacion {
            font-size: var($text-base);
            font-weight: bold;
            padding: 1rem;
        }

        &__form {
            border-radius: .5em;
            padding: 1rem;
            margin: 1rem;
        }
    }

    /*SECTION*/
    .img__contacto {
        image-resolution: auto;
        width: 100%;
        height: 7em;
    }

    /* GALERIA */
    .main-galeria {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .galeria {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 10em;

            &__titulo {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: .5rem;
                padding: .5rem;
                font-size: var($text-medium);
            }

            &__presentacion {
                padding-left: 1rem;
                padding-right: 1rem;
            }

            &__h2 {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                border-radius: .5em;
                font-size: var($text-base);
                padding: .5rem;
                margin: .5rem;
                text-align: center;
            }

            &__fotos {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            &__img {
                display: flex;
                justify-content: center;
                width: auto;
                height: 17em;
                border-radius: .5em;
                margin: 3rem;
            }

            &__fila-1 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 1rem;
            }

            &__fila-2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                align-items: center;
                border-radius: .5em;
                margin: 1rem;
            }
        }

        .h2 {
            font-size: var($text-small);
        }
    }

    /* PRODUCTOS */
    .productos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__titulo {
            display: flex;
            font-size: var($text-medium);
            padding: 1rem;
        }

        &__img {
            height: 20em;
            width: auto;
            border-radius: .5em;
            margin: .5rem;
        }

        &__boton {
            border-radius: .5em;
            padding-left: .5rem;
            padding-right: .5rem;
            font-size: var($text-medium);
            margin: 1rem;
        }

        &__texto {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: var($text-base);
            border-radius: .5em;
            padding: .1rem;
        }

        .flex__box {
            display: flex;
            flex-direction: column;
            align-items: stretch;

            &__box {
                display: flex;
                flex-direction: column;
                padding: .5rem;
                margin: .5rem;
                border-radius: .5em;
            }
        }
    }

    /* SOBREMI */
    .sobremi {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem;

        &__texto {
            font-size: var($text-base);
            font-weight: bold;
            padding: .5rem;
            margin: .5rem;
        }

        &__img {
            align-content: center;
            justify-content: center;
            width: 30em;
            height: auto;
            border-radius: .5em;
            margin-top: 1rem;
        }

        &__img-presentacion {
            width: 5em;
            height: auto;
            border-radius: 10em;
        }
    }
}

@media screen and (min-width:769px) and (max-width:969px) {

    /* INDEX */
    /* HEADER */
    .logo__image {
        width: 15em;
    }

    .menu {
        display: flex;
        flex-direction: column;

        &__item {
            padding: 1rem;
            font-size: var($text-base);
        }
    }

    /* INDEX MAIN */
    .cuerpo {
        display: flex;

        &__texto {
            font-size: var($text-base);
            padding: 1rem;
            font-weight: bold;
        }

        &__img {
            width: 40em;
            height: auto;
            border-radius: .5em;
            margin: .5rem;
        }

        .h1 {
            font-size: var($text-medium);
        }
    }

    /* FOOTER */
    .pie {
        display: flex;
        align-items: center;
        gap: .5rem;

        &__formulario {
            font-size: var($text-small);
        }

        &__texto {
            font-size: var($text-small);
        }

        &__img-insta {
            width: 2em;
            height: 2em;
            margin: .5rem;
        }

        &__img-mail {
            width: 2.8em;
            height: 2.8em;
            margin: .5rem;
        }
    }

    /* CONTACTO */
    .contacto {
        display: flex;

        &__informacion {
            font-size: var($text-base);
            font-weight: bold;
            padding-top: 7rem;
            padding-bottom: 7rem;
        }

        &__form {
            border-radius: .5em;
            padding: 1.5rem;
            margin: 1rem;
        }
    }

    /*SECTION*/
    .img__contacto {
        image-resolution: auto;
        width: 100%;
        height: 15em;
    }

    /* GALERIA */
    .main-galeria {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .galeria {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 10em;

            &__titulo {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: .5rem;
                padding: .5rem;
                font-size: var($text-medium);
            }

            &__presentacion {
                padding-left: 1rem;
                padding-right: 1rem;
            }

            &__h2 {
                display: flex;
                flex-direction: column;
                align-items: stretch;
                border-radius: .5em;
                font-size: var($text-base);
                padding: .5rem;
                margin: .5rem;
                text-align: center;
            }

            &__fotos {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            &__img {
                display: flex;
                justify-content: center;
                width: auto;
                height: 30em;
                border-radius: .5em;
                margin: 3rem;
            }

            &__fila-1 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: 15rem;
                margin-right: 15rem;
            }

            &__fila-2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                align-items: center;
                margin-left: 15rem;
                margin-right: 15rem;
            }
        }

        .h2 {
            font-size: var($text-small);
        }

    }

    /* PRODUCTOS */
    .productos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__titulo {
            display: flex;
            font-size: var($text-medium);
            padding: 1rem;
        }

        &__img {
            height: 40em;
            width: auto;
            border-radius: .5em;
            margin: .5rem;
        }

        &__boton {
            border-radius: .5em;
            padding-left: .5rem;
            padding-right: .5rem;
            font-size: 1.5em;
            margin: 1rem;
        }

        &__texto {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: var($text-medium);
            border-radius: .5em;
            padding: .1rem;
        }

        .flex__box {
            display: flex;
            flex-direction: column;
            align-items: stretch;

            &__box {
                display: flex;
                flex-direction: column;
                padding: 5rem;
                margin: .5rem;
                border-radius: .5em;
            }
        }
    }

    /* SOBREMI */
    .sobremi {
        display: flex;
        align-items: center;
        padding: .5rem;

        &__texto {
            font-size: var($text-base);
            font-weight: bold;
            padding: .5rem;
            margin: .5rem;
        }

        &__img {
            align-content: center;
            justify-content: center;
            width: 30em;
            height: auto;
            border-radius: .5em;
        }

        &__img-presentacion {
            width: 5em;
            height: auto;
            border-radius: 10em;
        }
    }
}