* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.button {
    background-color: $boton-primary;
    font-size: $text-base;
    color: $secondary;
    border-radius: .5em;
    padding: .5rem 1.5rem;
    margin: .3rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
    
}

.barra-texto {
    background-color: $secondary;
    font-family: map-get($fonts, font-principal);
    border-radius: .5em;
    border: 2px solid transparent;
}

h1 {
    font-family: map-get($fonts, font-secondary);
    font-weight: bold;
    padding-bottom: 1rem;
    margin: .5rem;
    font-size: 25px;
}

.background {
    background-color: $base;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: $text-color;
}

p {
    margin-bottom: 0rem;
}
