
/* Colors */
    $primary: #8f2d56;
    $secondary: #fdfff7;
    $alternative: #f8afc9;
    $text-color: #0d0106;
    $base: #fbf4e0;
    $boton-primary: #0d0106;
    $boton-secondary: #4c4c47;

/* Font-family */
    $font-principal: 'Open Sans', sans-serif;
    $font-secondary: 'Nunito', sans-serif;

/* Font-sizes */
    $text-large: 2.4em;
    $text-medium: 1.5em;
    $text-base: 1.2em;
    $text-small: 1.1em; 